<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wayback Machine Interface</title>
</head>
<body>
    <h1>Wayback Machine Interface</h1>
    <form action="/result" method="post">
      <label for="url">Enter URL:</label>
      <input type="text" id="url" name="url" required>
      <label for="url">Enter Wp Username:</label>
      <input type="text" id="wpUN" name="wpUN" required>
      <label for="url">Enter Wp Key:</label>
      <input type="text" id="wpPW" name="wpPW" required>
      <label for="url">Enter Wp Domain in the form example.com:</label>
      <input type="text" id="wpDomain" name="wpDomain" required>
      <button type="submit">Retrieve Content</button>
    </form>
    a form to create logs


</body>
</html>
